@using System.Threading.Tasks
@using Melkor_core_builder
@model IEnumerable<Melkor_core_builder.BuildItem>
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
    
<div class="container-fluid">
    <div class="row">
        @foreach (BuildItem item in @Model)
        {
            <div class="btn-default panel-body col-md-4">
                    
                    <p>@item.Dir</p>
                    <p >Build status :</p>
                    @if (item.Status)
                {
                        <span class="panel-footer fa fa-check"></span>
                    }
                    else
                    {
                        <span class="panel-footer fa fa-exclamation "></span>
                    }<br />
                </div>
        }
    </div>
</div>