@using System.Threading.Tasks
@using Melkor_core_builder
@model IEnumerable<Melkor_core_builder.BuildItem>
@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
    
<div class="container-fluid">
    <div class="row">
        @foreach (BuildItem item in @Model)
        {
           Html.RenderPartial("BuildItemPartialView", item);
        }
    </div>
</div>