@model Melkor_core_builder.BuildItem
<div class="btn-default panel panel-body col-md-12">
   
    <div class="col-xs-11">
        Project name : @Model.Name
    </div>
    
    @foreach (var item in Model.Tests)
    {
        //todo
    }
    <div class="col-xs-1 text-left">
        @if (Model.Status)
        {
            <span class="fa fa-check"></span>
        }
        else
        {
            <span class="fa fa-exclamation"></span>
        }
    </div>

    <div class="col-xs-11">
        @Model.Dir
    </div>
    
</div>