@model List<BuildItem>
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
    
    @foreach (BuildItem item in @Model)
    {
        <div class="panel panel-body">
            <p>@item.Dir</p>
            @if (item.Status == true.ToString())
            {
                <span class="panel-footer fa fa-check"></span>
            }
            else
            {
                <span class="panel-footer fa fa-exclamation "></span>
            }<br />

        </div>
        }
