@model List<Melkor_core_dbhandler.NotificationContext>
@{
    ViewData["Title"] = "Home Page";
}
<br/>
<br/>
<div class="panel panel-default" style="padding: 16px">
    <h2> Updates </h2><br/>
    @foreach (var item in Model)
    {
        <blockquote>

            <p>
                <b>@item.Title</b>
            </p>
            <p style="font-size: 16px">@item.Message</p>
            <small>Date added @item.DateCreated.ToShortDateString() by @item.PublishedBy</small>
        </blockquote>
    }
</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <img src="~/images/melkorImage1.png" height="150" width="150" />
                </div>
            </div>
        </div>

    </div>
