@model ICollection<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityUserRole<string>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@foreach (var item in Model)
{
    <p>@item.ToString()</p>
}