@model Melkor_core_dbhandler.NotificationContext

<div class="center-block">
    @{
        Html.RenderPartial("AddNewsPartial", Model);
    }
</div>

<div class="col-md-12">
    <div data-url="@Url.Action("TestResults", "Admin")">
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </div>
</div>