@model List<Melkor_core_dbhandler.TestContext>
<h3>Passed tests</h3>
@foreach (var item in Model)
{

    <div style="max-width: 40%">
        @{
            Html.RenderPartial("TestItemPartialView", item);
        }

    </div>
            }