@using System.Threading.Tasks
@using Melkor_core_web.Controllers
@model List<Melkor_core_web.Controllers.UserTests>

<h3>Tests</h3>
@foreach (var item in Model)
{
    @item.User
    <br/>
    foreach (var tests in item.Tests)
    { 
    Html.RenderPartial("TestItemPartialView", tests);
}
}
